#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    width: 80%;
}

#about_summary {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 32px;    
}

.about-summary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-summary-title {
    margin: 12px 0px 32px 0px;
    display: flex;
    flex-direction: column;
}

