#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #18181B;
    height: 92px;
    right: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

#nav_list {
    display: flex;
}

.nav-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    font-size: 1.6rem;
    text-decoration: none;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

#social {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-left: 1.6rem;
}

#social .nav-item a {
    font-weight: bold;
    font-size: 2rem;
}

#btn_mobile {
    display: none;
}

@media (max-width: 1000px) {
    
    .nav-itens {
        display: block;
        position: absolute;
        width: 100%;
        top: 92px;
        right: 0px;
        background-color: #111;
        text-align: center;
        z-index: 1000;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #nav_list .nav-itens.active {
        height: calc(100vh - 92px);
        visibility: visible;
        overflow-y: auto;
    }
    
    .nav-itens .nav-item {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }
    
    .nav-itens #social {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav-itens #social .linkedin {
        border-bottom: none;
    }
    .nav-itens #social .instagram {
        border-bottom: none;
    }
    .nav-itens #social .github {
        border-bottom: none;
    }
    
    #btn_mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        color: #fff;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #btn_mobile.animation-btn #hamburguer { 
        border-top-color: transparent;
    }

    #btn_mobile.animation-btn #hamburguer::before {
        transform: rotate(135deg);
    }

    #btn_mobile.animation-btn #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    
}