main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    background-color: #0A0A0A;
    width: 80%;
    height: 100vh;
    box-shadow: 5px  5px 5px rgba(0, 0, 0, 0.5);
}

.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.img-perfil {
    display: flex;
    width: 112px;
    height: auto;
}

.img-perfil .perfil {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.txt-header {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #FAFAFA;
}

.txt-header h1 {
    font-weight: bold;
    font-size: 30px;
}

.txt-header h2 {
    font-size: 1em;
    color: #A3A3A3;
}

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.programming-language {
    padding: 5px 12px;
    background-color: #262626;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}